body{
    margin:50px;
    padding: 30px;
    border:10px;
    border-style: solid;
    background-color: yellow;
}
p{
    background-color: aquamarine;
    padding: 20px;
    margin: 15px;
    border: 5px;
    border-style: dashed;
}